{% extends 'base.html' %}

{% block content %}
<h1>About</h1>
<p>Propolis Wiki is a project created by Hive witness <a href="https://hive.blog/@pharesim">@pharesim</a>, aiming to provide a single point of information on a decentralized platform</p>
<p>All code required to run an own instance of the application is open source and available on <a href="https://github.com/pharesim/propolis-wiki">GitHub</a></p>
<p>As a community project, Propolis depends on your input! Be it content (articles), design, code, testing or just entertaining the community on <a href="https://discord.gg/RemTygANtN">Discord</a>, every head counts!</p>
{% endblock %}