{% extends 'base.html' %}

{% block content %}
<h1>Last edited articles</h1>
This is a full list of edits on all articles
<table>
    <thead>
        <tr>
            <th>Time</th>
            <th>Article</th>
            <th>Editor</th>
        </tr>
    </thead>
    <tbody>
        <script>var client = new dhive.Client(["https://api.hive.blog", "https://api.hivekings.com", "https://anyx.io", "https://api.openhive.network"]);</script>
        {% for edit in edits %}
        <script>
            // @todo this is getting data that's already available from the database. keeping it for eventual future use. remove when not necessary.
            client.database.call('get_content', [wiki_user, '{{ edit[1] }}']).then(result => {
                document.getElementById('edit_{{ edit[0] }}_title').innerHTML = '<a href="/wiki/'+result.permlink.charAt(0).toUpperCase() + result.permlink.slice(1)+'">'+result.title+'</a>';
                let user = JSON.parse(result.json_metadata)['appdata']['user'];
                document.getElementById('edit_{{ edit[0] }}_user').innerHTML = '<a href="https://hive.blog/@'+user+'">'+user+'</a>';
            });
        </script>
        <tr>
            <td>{{ edit[0] }}</td>
            <td id="edit_{{ edit[0] }}_title"><a href="/wiki/{{ edit[1] | capitalize }}">{{ edit[1] | capitalize }}</a></td>
            <td id="edit_{{ edit[0] }}_user"><a href="https://hive.blog/@{{ edit[2] }}">{{ edit[2] }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}