<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% if post is defined and post.title is defined %}{{ post.title}} | {% endif %}Propolis - decentralized Wiki</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/wiki.css') }}">
        <script src="{{ url_for('static', filename='js/vendor/modernizr-2.8.3.min.js') }}"></script>
		<script>
			var username = "{{ session['username'] }}";
			var wiki_user = "{{ config['WIKI_USER'] }}";
		</script>
		<script src="{{ url_for('static', filename='js/main.js') }}"></script>
        <script src="https://cdn.jsdelivr.net/npm/@hiveio/keychain@latest"></script>
		<script src="https://unpkg.com/@hiveio/dhive@latest/dist/dhive.js"></script>

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    </head>
    <body>
        <div class="wrapAll clearfix">
            <div class="sidebar">
				<div class="logo">
					<a href="/">
						<img src="{{ url_for('static', filename='img/hive-logo.png') }}" alt="logo">
						<h1>Propolis</h1>
					</a>
				</div>
				<div class="navigation">
					<ul>
						<li><a href="/">Main page</a></li>
						<li><a href="/wiki/Categories:Overview">Categories</a></li>
						<li><a href="/random">Random article</a></li>
						<li><a href="/activity">Activity</a></li>
					</ul>
					<h3>Interaction</h3>
					<ul>
						<li><a href="#">Help</a></li>
						<li><a href="#">About</a></li>
						<li><a href="#">Portal</a></li>
					</ul>
					{% if session.username is defined and session.userlevel > 1 %}
					<h3>Administration</h3>
					<ul>
						<li><a href="/admin">Dashboard</a></li>
						<li><a href="/admin/users">Users</a></li>
					</ul>
					{% endif %}
				</div>
			</div>
            <div class="mainsection">
				<div class="headerLinks">
					<span class="user">
                        {% if session.username is not defined %}
                        Not logged in
                        {% else %}
                        {{ session.username }}
                        {% endif %}
                    </span> 
                    {% if session.username is not defined %}
					<a href="/login{{ path }}">Login</a>
                    <a href="https://signup.hive.io/">Create account</a>
					{% if request.path.split('/')[1] in ['', 'login', 'logout'] %}
						{% set path = '' %}
					{% else %}
						{% set path = request.path %}
					{% endif %}
                    {% else %} 
                    <a href="/create">Create</a>
                    <a href="/contributions">Contributions</a> 
                    <a href="#">Talk</a>
                    <a href="/logout">Logout</a>
                    {% endif %}
				</div>
				<div class="tabs clearfix">
					
					<div class="tabsLeft">
						<ul>
							{% if notabs is not defined %}
							<li><a href="#" class="active">Article</a></li>
							<li><a href="#">Talk</a></li>
							{% else %}
							<li><a href="#" class="active">{{ request.path[1:].capitalize() }}</a></li>
							{% endif %}					
						</ul>
					</div>
					
					<div id="simpleSearch">
						<input type="text" name="searchInput" id="searchInput" placeholder="Search Wiki" size="12" />
						<div id="submitSearch"></div>
					</div>
					{% if notabs is not defined %}
					<div class="tabsRight">
						<ul>
							<li><a href="/wiki/{{ request.path.split('/')[2] }}" class="{% if request.path.split('/')[1] == 'wiki' %}active{% endif %}">Read</a></li>
							<li><a href="/source/{{ request.path.split('/')[2] }}" class="{% if request.path.split('/')[1] == 'source' %}active{% endif %}">View source</a></li>						
							{% if session.username is defined %}
							<li><a href="/edit/{{ request.path.split('/')[2] }}" class="{% if request.path.split('/')[1] == 'edit' %}active{% endif %}">Edit</a></li>
							{% endif %}
							<li><a href="/history/{{ request.path.split('/')[2] }}" class="{% if request.path.split('/')[1] == 'history' %}active{% endif %}">View history</a></li>						
						</ul>
					</div>
					{% endif %}
				</div>
				<div class="article">
					
				{% with messages = get_flashed_messages()%}{% if messages%}{% for message in messages%}
				<p class="message">{{ message }}</p>
				{% endfor %}{% endif %}{% endwith %}

				{% block content %}{% endblock %}
				</div>
				<div class="pagefooter">
					{% block last_update %}
					{% if last_update is defined %}
					<span id="last_update">
						This page was last edited on <span id="last_updated">{{ last_update[0] }}</span>
						<script>
							document.getElementById('last_updated').innerHTML = new Date(document.getElementById('last_updated').innerHTML).toString();
						</script>
						{% if last_update[1] %}
						<span id="last_updater"> by <a href="#" id="last_updater_link">@<span id="last_updater_user">{{ last_update[1] }}</span></a></span>
						{% endif %}
					</span>
					{% endif %}
					{% endblock %}
					<div class="footerlinks">
						<a href="#">Privacy policy</a> <a href="#">About</a> <a href="#">Terms and conditions</a> <a href="#">Cookie statement</a> <a href="#">Developers</a>
					</div>
				</div>
			
			
			</div>		
		</div>

        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    </body>
</html>