<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <title>
			{% if pagetitle is defined %}{{ pagetitle }} | {% endif %}
			{% if post is defined and post.title is defined %}{{ post.title }} | {% endif %}
			Propolis - web3 Wiki
		</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/propolis/propolisdiscord.png') }}">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/wiki.css') }}">
        <script src="{{ url_for('static', filename='js/vendor/modernizr-2.8.3.min.js') }}"></script>
		<script>
			var username = "{{ session['username'] }}";
			var wiki_user = "{{ config['WIKI_USER'] }}";
		</script>
		<script src="{{ url_for('static', filename='js/tui-editor-latex.js') }}"></script>
        <script src="{{ url_for('static', filename='js/vendor/keychain.js') }}"></script>
		<script src="{{ url_for('static', filename='js/vendor/dhive.js') }}"></script>

		<link rel="stylesheet" href="{{ url_for('static', filename='css/fonts/font-awesome.css') }}" />
    </head>
    <body>
        <div class="wrapAll clearfix">
            <div class="sidebar">
				<div class="logo">
					<a href="/">
						<img src="{{ url_for('static', filename='img/propolis/propolisblackcut.png') }}" alt="logo">
					</a>
				</div>
				<div class="navigation">
					<ul>
						<li><a href="/">Main page</a></li>
						<li><a href="{{ url_for('wiki.categories') }}">Categories</a></li>
						<li><a href="{{ url_for('wiki.random_article') }}">Random article</a></li>						
					</ul>
					<h3>Interaction</h3>
					<ul>
						<li><a href="{{ url_for('wiki.activity') }}">Activity</a></li>
						<li><a href="{{ url_for('wiki.pages', page='help') }}">Help</a></li>
						<li><a href="{{ url_for('wiki.pages', page='about') }}">About</a></li>
					</ul>
					{% if session.username is defined and session.userlevel > 1 %}
					<h3>Administration</h3>
					<ul>
						<li><a href="{{ url_for('wiki.admin') }}">Dashboard</a></li>
						<li><a href="{{ url_for('wiki.admin_users') }}">Users</a></li>
					</ul>
					{% endif %}
				</div>
			</div>
            <div class="mainsection">
				<div class="headerLinks">
					<span class="user">
                        {% if session.username is not defined %}
                        Not logged in
                        {% else %}
                        {{ session.username }}
                        {% endif %}
                    </span> 
                    {% if session.username is not defined %}
					<a href="/login{{ path }}">Login</a>
                    <a href="https://signup.hive.io/">Create account</a>
					{% if request.path.split('/')[1] in ['', 'login', 'logout'] %}
						{% set path = '' %}
					{% else %}
						{% set path = request.path %}
					{% endif %}
                    {% else %} 
                    <a href="{{ url_for('wiki.create') }}">Create</a>
                    <a href="{{ url_for('wiki.contributions') }}">Contributions</a> 
                    <!-- <a href="#">Talk</a> -->
                    <a href="{{ url_for('wiki.hive_keychain_auth.logout') }}">Logout</a>
                    {% endif %}
				</div>
				<div class="tabs clearfix">
					
					<div class="tabsLeft">
						<ul>
							{% if notabs is not defined %}
							<li><a href="{{ url_for('wiki.wiki', article=request.path.split('/')[2]) }}" class="{% if request.path.split('/')[1] == 'wiki' or request.path.split('/')[1] == 'source' or request.path.split('/')[1] == 'edit' or request.path.split('/')[1] == 'history' %}active{% endif %}">Article</a></li>
							<li><a href="{{ url_for('wiki.talk', article=request.path.split('/')[2]) }}" class="{% if request.path.split('/')[1] == 'talk' %}active{% endif %}">Talk</a></li>
							{% else %}
							<li><a href="{{ request.path }}" class="active">{{ request.path[1:].capitalize() }}</a></li>
							{% endif %}					
						</ul>
					</div>
					
					<div id="simpleSearch">
						<input type="text" name="searchInput" id="searchInput" placeholder="Search Wiki" size="12" />
						<div id="submitSearch"></div>
					</div>
					{% if notabs is not defined %}
					<div class="tabsRight">
						<ul>
							<li><a href="{{ url_for('wiki.wiki', article=request.path.split('/')[2]) }}" class="{% if request.path.split('/')[1] == 'wiki' %}active{% endif %}">Read</a></li>
							<li><a href="{{ url_for('wiki.source', article=request.path.split('/')[2]) }}" class="{% if request.path.split('/')[1] == 'source' %}active{% endif %}">View source</a></li>						
							{% if session.username is defined %}
							<li><a href="{{ url_for('wiki.edit', article=request.path.split('/')[2]) }}" class="{% if request.path.split('/')[1] == 'edit' %}active{% endif %}">Edit</a></li>
							{% endif %}
							<li><a href="{{ url_for('wiki.history', article=request.path.split('/')[2]) }}" class="{% if request.path.split('/')[1] == 'history' %}active{% endif %}">View history</a></li>						
						</ul>
					</div>
					{% endif %}
				</div>
				<div class="article">
					
				{% with messages = get_flashed_messages()%}{% if messages%}{% for message in messages%}
				<p class="message">{{ message }}</p>
				{% endfor %}{% endif %}{% endwith %}

				{% block content %}{% endblock %}
				</div>
				<div class="pagefooter">
					{% block last_update %}
					{% if last_update is defined %}
					<span id="last_update">
						This page was last edited on <span id="last_updated">{{ last_update[0] }}</span>
						{% if last_update[1] %}
						<span id="last_updater"> by <a href="#" id="last_updater_link">@<span id="last_updater_user">{{ last_update[1] }}</span></a></span>
						{% endif %}
					</span>
					{% endif %}
					{% endblock %}
					<div class="footerlinks">
						<a href="{{ url_for('wiki.pages', page='privacy') }}">Privacy Policy</a> <a href="/pages/about">About</a> <a href="/pages/terms-and-conditions">Terms and Conditions</a> <a href="/pages/cookies">Cookie Statement</a> <a href="/pages/developers">Developers</a>
					</div>
				</div>			
			</div>		
		</div>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>