{% extends 'base.html' %}

{% block content %}
<div class="article">
    <h1>Categories</h1>
    This is an alphabetical list of all created categories

    <h2>List of categories</h2>
    <table>
        {% for category in categories %}
        <tr>
            <td><a href="/wiki/Category:{{ category[0] | capitalize }}">{{ category[0] | capitalize }}</a></td>
            <td>{{ category[1] }}{% if category[1] == 1 %} article{% else %} articles{% endif %}</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}