{% extends 'base.html' %}

{% block content %}
<h1>Developers</h1>
<p>The code for Propolis Wiki is open source and available on <a href="https://github.com/pharesim/propolis-wiki">GitHub</a></p>
<p>The application uses python and Flask, with a few javascript libraries thrown in for the editor and the diffs.</p>
<p>Especially for the editor, but also everything else, help would be more than welcome. Contact @pharesim on Discord if you're interested in fixing a couple of bugs.</p>
<p>So far the project has not had any design work done, it's all based on a design template stolen somewhere on the internet. If you're fluent in CSS and can maybe even combine it with vanilla JS you'd be greeted like a unicorn.</p>
<p>Code is messy, but try to not make it worse. There are some standards.</p>
{% endblock %}