{% extends 'base.html' %}

{% block content %}
<div class="editorview">

{% if request.path.split('/')[1] == 'create' %}
{% set where = 'create' %}
<p class="roleNote">Please follow the guidelines for the creation of new articles.</p>
<br />
{% else %}
{% set where = 'edit' %}
<script src="{{ url_for('static', filename='js/vendor/diff-match-patch.js') }}"></script>
{% endif %}

<input type="text" {% if where == 'create' %}placeholder="Create a new article" {% endif %}id="title" {% if where == 'edit' and session.userlevel < 3 %}disabled {% endif %}class="pagetitle" value="{{ article_title }}" />
<br /><br />
{% include 'helpers/editor.html' %}
<p>
  <input type="text" id="topics" class="topics" placeholder="Topics separated by space" {% if post is defined %}value="{{ " ".join(post.json_metadata.tags) }}" {% endif %}/>
</p>
{% if where == 'edit' %} 
<p>
  <input type="text" id="reason" class="topics" placeholder="Reason for your edit" />
</p>
<div class="warning" id="reason_empty_warning">Please provide a reason for your edit</div>
{% endif %}
<p>
  {% if where == 'create' %}
  <div class="warning" id="title_empty_warning">Give the article a name</div>
  <div class="warning" id="title_exists_warning">The article you want to create already exists. Check out <span id="existing_article"></span></div>
  {% endif %}
  <div class="warning" id="topics_space_warning">Separate the topics by spaces</div>
</p>
<button id="submit" disabled>Submit</button>
<button id="loading" style="display: none;" disabled>
  <img src="{{ url_for('wiki.hive_keychain_auth.static', filename='img/counterrotation.gif') }}" style="height: 1em; " />
</button>
<script>
  const where = "{{ where }}";
</script>
<script src="{{ url_for('static', filename='js/edit.js') }}"></script>

</div>
{% endblock %}