{% extends 'base.html' %}

{% block content %}
<h1>Edit history of {{ post.title }}</h1>
This is a full list of edits on the article
<table>
    <thead>
        <tr>
            <th>Compare</th>
            <th>Revision</th>
            <th>Time</th>
            <th>Editor</th>
            <th>Reason</th>
        </tr>
    </thead>
    <tbody>
        <script>var client = new dhive.Client(["https://api.hive.blog", "https://api.hivekings.com", "https://anyx.io", "https://api.openhive.network"]);</script>
        {% for edit in edits %}
        <tr>
            <td>
                {% if loop.index0 > 0 %}<a href="/history/{{ permlink }}/compare/{{ edit[0] }}/{{ edits[0][0] }}">{% endif %}
                Current
                {% if loop.index0 > 0 %}</a>{% endif %} |
                {% if loop.index0 < edits|length-1 %}<a href="/history/{{ permlink }}/compare/{{ edits[loop.index0+1][0]}}/{{ edit[0] }}">{% endif %}
                Previous
                {% if loop.index0 < edits|length-1 %}</a>{% endif %}
            </td>
            <td>
                {% if loop.index0 == 0 %}<a href="/wiki/{{ permlink }}">
                {% else %}<a href="/history/{{ permlink }}/revision/{{ edit[0] }}">{% endif %}
                {{ edit[0] }}
            </td>
            <td id="edit_{{ edit[0] }}_time">{{ edit[1] }}</td>
            <td id="edit_{{ edit[0] }}_user"></td>
            <td id="edit_{{ edit[0] }}_reason"></td>          
        </tr>
        <script>
            client.database.call('get_transaction', ['{{ edit[0] }}']).then(result => {
                result = result['operations'][0][1];
                let metadata = JSON.parse(result.json_metadata);
                let user = metadata['appdata']['user'];
                document.getElementById('edit_{{ edit[0] }}_user').innerHTML = '<a href="https://hive.blog/@'+user+'">'+user+'</a>';
                let reason = metadata['appdata']['reason'];
                document.getElementById('edit_{{ edit[0] }}_reason').innerHTML = reason;
            });
        </script>
        {% endfor %}
    </tbody>
</table>
{% endblock %}