{% extends 'base.html' %}

{% block content %}
<div class="article">

    <h1>Welcome to Propolis Wiki</h1>
    Propolis is a wiki which utilizes the Hive blockchain for data storage.<br />
    The name comes from the Greek word propolis (pro ‘before’ + polis ‘city’), also used for the bee glue that keeps the hive together.
    This suitably describes the intention of the project as an entry point to the community which connects all areas.
    

    <h2>Scope</h2>
    Articles can cover all kinds of topics, but naturally we start with everything Hive.<br />
    Ideally this will be the central place to get all information about your favorite dApp, game or wallet.

    <h2>Contribute</h2>
    Everyone can contribute to Propolis, the only requirement is a Hive account.<br />
    For now posting rights are managed manually, join our <a href="https://discord.gg/r66ePcj5">Discord</a> to get you set up!
    
    <h2>Existing articles</h2>
    <p>
        <a href="/wiki/Hive">Hive</a><br />
        <a href="/wiki/Test">Testartikel</a>
    </p>
</div>
{% endblock %}