{% extends 'base.html' %}

{% block content %}
    <h1>Welcome to Propolis Wiki</h1>
    Propolis is a wiki which utilizes the Hive blockchain for data storage.
    The name comes from the Greek word propolis (pro ‘before’ + polis ‘city’), also used for the bee glue that keeps the hive together.
    This suitably describes the intention of the project as an entry point to the community which connects all areas.    

    <h2>Scope</h2>
    Articles can cover all kinds of topics, but naturally we start with everything Hive.
    Ideally this will be the central place to get all information about your favorite dApp, game or wallet.

    <h2>Explore</h2>
    If you're not sure where to start, how about a <a href="/random">random article</a>?
    You can also browse the existing <a href="/wiki/Categories:Overview">categories</a> under which articles have been published,
    or see what's happened lately on the <a href="/activity">activity list</a>!

    <h2>Contribute</h2>
    Everyone can contribute to Propolis, the only requirement is a Hive account.
    For now, posting rights are managed manually - join our <a href="https://discord.gg/r66ePcj5">Discord</a> to get you set up!
{% endblock %}