{% extends 'base.html' %}

{% block content %}
<h1>Talk</h1>
{% for reply in data %}
<div class="comment">
    <div id="header_{{ reply.permlink }}">
        <sub>{{ reply.author }} on {{ reply.created }}:</sub>
        <h3>{{ reply.title }}</h3>
        <div id="short_{{ reply.permlink }}">{{ replies[loop.index0].short }}</div>
    </div> 
    <div id="body_{{ reply.permlink }}">{{ replies[loop.index0].body }}</div>
    <script>
        document.getElementById("body_{{ reply.permlink }}").style.display = "none";
        document.getElementById("header_{{ reply.permlink }}").addEventListener('click',function(){
            document.getElementById("body_{{ reply.permlink }}").style.display = "block";
            document.getElementById("short_{{ reply.permlink }}").style.display = "none";
        });
    </script>
</div>
{% endfor %}
{% endblock %}