{% extends 'base.html' %}

{% block content %}
<h1>Terms and Conditions</h1>
<p>You're not allowed to use this site with bad intentions. If you're angry, go for a walk.</p>
<p>There will be bugs, and nobody will take responsibility if you get hurt in any way.</p>
<p>User Hive Keychain and don't sign transactions you understand. Delete your master password and lock the owner key in two different physical locations. Use an offline/local password manager for backing up your memo, posting and active key.</p>
{% endblock %}