<div id="editor">{% if body is defined %}{{ body }}{% endif %}</div>
<script src="{{ url_for('static', filename='js/vendor/toastui-editor-all.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/toastui-editor-plugin-table-merged-cell.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/tui-editor-plugin-reference.js') }}"></script>
<script src="{{ url_for('static', filename='js/tui-editor-plugin-wiki-link.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/latex.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/toastui-editor.min.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/toastui-editor-plugin-table-merged-cell.min.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/tui-editor-plugin-reference.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/tui-editor-plugin-wiki-link.css') }}" />
