{% extends 'base.html' %}

{% block content %}
<div class="article">
    <h1>User management</h1>

    {% with messages = get_flashed_messages()%}{% if messages%}{% for message in messages%}
    <p class="message">{{ message }}</p>
    {% endfor %}{% endif %}{% endwith %}

    <h2>Add user</h2>
    <input id="new_user_username" placeholder="username" />
    <select id="new_user_userlevel">
        <option value="1">1</option>
        {% if session.userlevel > 1 %}
        <option value="2">2</option>
        {% if session.userlevel > 2 %}
        <option value="3">3</option>
        {% endif %}{% endif %}
    </select>
    <button type="submit" id="add_user_submit">Add</button>
    <button id="add_user_submit_loading" style="display: none;" disabled>
        <img src="{{ url_for('wiki.hive_keychain_auth.static', filename='img/counterrotation.gif') }}" style="height: 1em; " />
    </button>
    <script src="{{ url_for('static', filename='js/admin/users.js') }}"></script>

    <h2>Registered users</h2>
    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>Level</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for auth in auths %}
            <tr>
                <td><a href="https://hive.blog/@{{ auth[0] }}">{{ auth[0] }}</a></td>
                <td id="user_{{ auth[0] }}_auth">
                    <div id="user_{{ auth[0] }}_auth_show">{{ auth[1] }}</div>
                    <div id="user_{{ auth[0] }}_auth_edit" style="display: none">
                        <select id="user_{{ auth[0] }}_userlevel">
                            <option value="1"{% if auth[1] == 1 %} selected {% endif %}>1</option>
                            <option value="2"{% if auth[1] == 2 %} selected {% endif %}>2</option>
                            {% if session.userlevel > 2 %}
                            <option value="3"{% if auth[1] == 3 %} selected {% endif %}>3</option>
                            {% endif %}
                        </select>
                    </div>
                    <button id="user_{{ auth[0] }}_auth_loading" style="display: none;" disabled>
                        <img src="{{ url_for('wiki.hive_keychain_auth.static', filename='img/counterrotation.gif') }}" style="height: 1em; " />
                    </button>
                </td>
                {% if session.userlevel >= auth[1] %}
                <script>
                    document.getElementById('user_{{ auth[0] }}_auth_show').addEventListener('click', function() {
                        document.getElementById('user_{{ auth[0] }}_auth_show').style.display = 'none';
                        document.getElementById('user_{{ auth[0] }}_auth_edit').style.display = 'block';
                    });
                    document.getElementById('user_{{ auth[0] }}_auth_edit').addEventListener('change', function() {
                        document.getElementById('user_{{ auth[0] }}_auth_edit').style.display = 'none';
                        document.getElementById('user_{{ auth[0] }}_auth_loading').style.display = 'block';
                        window.location.replace("/admin/user/change/{{ auth[0] }}/"+document.getElementById('user_{{ auth[0] }}_userlevel').value); 
                    });
                </script>
                {% endif %}
                <td>
                    {% if session.userlevel > auth[1] or session.userlevel == 3 %}
                    <button id="delete_user_{{ auth[0] }}"><i class="fas fa-trash"></i></button>
                    <button id="delete_user_{{ auth[0] }}_loading" style="display: none;" disabled>
                        <img src="{{ url_for('wiki.hive_keychain_auth.static', filename='img/counterrotation.gif') }}" style="height: 1em; " />
                    </button>
                    <script>
                        document.getElementById('delete_user_{{ auth[0] }}').addEventListener('click', function() {
                            deleteUser("{{ auth[0] }}");
                        });
                    </script>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}